@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <img src="/Images/logo-universidad-nacional-costa-rica.png">
	<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">INGRESAR</a>

</div>
